<section class="content">
    <div class="container-fluid">
        <!-------------------------------------------- DataTable --------------------------------------------------->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">ผลการค้นหา</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table datatable [dtOptions]="dtoptions" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Op</th>
                            <th>Browser</th>
                            <th>Platform(s)</th>
                            <th>Engine version</th>
                            <th>CSS grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</section>